* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232323;
}

button {
  border: 0;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.container {
  padding-right: 56px;
  padding-left: 56px;
}